@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #0000;

}

* {
    box-sizing: border-box;
}

body {
    background: rgb(188,0,255);
    background: linear-gradient(90deg, rgba(188,0,255,1) 0%, rgba(99,9,121,1) 0%, rgba(2,0,36,1) 100%);
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: #bc00ff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.circle {
    background-color: #ffff;
    color: #000;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: #ffff;
    background-color: #bc00ff;
    color: #ffff;
}

.btn {
    background-color: #ffff;
    color: #000;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
    background-color: #bc00ff;
    color: #ffff;
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: #bc00ff;
    color: #ffff;
    cursor: not-allowed;
}